@font-face {
  font-family: "PragmataPro";
  src: url(fonts/pragmataPro.ttf) format("truetype");
  /* I do own a web-site licence for this font. Big thanks for amazing work of Fabrizio Schiavi on this wonderful font.
  Check it out: https://fsd.it/shop/fonts/pragmatapro/ */
}

.button--plump-purple {
    border-width: 0;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    background-color: #583bb6;
    border-color: #583bb6;
    border: 0 solid rgba(0, 0, 0, 0);
    border-radius: 50px;
    font-family: PragmataPro, Roboto, Helvetica, fallback-font;
  }
  .button--plump-m-purple {
    font-size: 16px;
    letter-spacing: .188em;
    padding: 10px 24px;
  }
  
  .button--plump-xs-purple {
    font-size: 14px;
    padding: 5px 12px;
  }
  
  .button--plump-purple:hover {
    background-color: #311c75;
    transition: 0.1s;
  }
  
  .button--plump-purple:active {
    background-color: #000000;
  }
  