@import "theme.css";
@import "slider.css";

body {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-family: Roboto, fallback-font;
}

.button--plump-purple {
  border-width: 0;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #583bb6;
  border-color: #583bb6;
  border: 0 solid rgba(0, 0, 0, 0);
  border-radius: 50px;
}
.button--plump-m-purple {
  font-size: 12px;
  letter-spacing: .188em;
  padding: 10px 24px;
}

.button--plump-xs-purple {
  font-size: 10px;
  padding: 5px 12px;

}

.button--plump-purple:hover {
  background-color: #311c75;
  transition: 0.1s;
}

.button--plump-purple:active {
  background-color: #000000;
}

.divTable {
  display: table;
  width: auto;
  border-spacing:5px;
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
}

.divRow {
  display: table-row;
  width: auto;
  text-align: center;
}

.divCell {
  padding: 10px 12px;
  text-align: center;
  vertical-align: center;
}

.text-form {
  width: 100%;
  height: 300px;
  font-size: 14px;
  background-color: var(--color-primary-darker);
  color: var(--color-secondary);
  resize: none;
  padding: 20px 24px;
  border: 0 solid rgba(0, 0, 0, 0);
  border-radius: 50px;
}