@import "fonts.css";

.button--plump {
  border-width: 0;
  text-align: center;
  text-transform: uppercase;
  border: 0 solid #00000000;
  border-radius: 50px;
  font-family: PragmataPro, Roboto, Helvetica, fallback-font;
  font-weight: lighter;
}

.button--purple {
  color: #fff;
  background-color: var(--color-purple);
  border-color: var(--color-purple);
}

.button--gray {
  color: #fff;
  background-color: #787581;
  border-color: #787581;
}

.button--s {
  font-size: 16px;
  letter-spacing: .188em;
  padding: 10px 24px;
}

.button--xs {
  font-size: 14px;
  padding: 5px 12px;
}

.button--purple:hover {
  background-color: var(--color-purple-darker);
  transition: 0.1s;
}

.button--gray:hover {
  background-color: #444349;
  transition: 0.1s;
}

.button--plump:active {
  background-color: #000000;
}