body {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  /* font-family: PragmataPro, Roboto, Helvetica, fallback-font; */
  font-family: Skolar PE Web, Georgia, 'Times New Roman', Times, serif;
  font-weight: 100;
  font-style: normal;
  font-kerning: normal;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1;
}

h2 {
  /* font-family: PragmataPro, Roboto, Helvetica, fallback-font; */
  font-family: Skolar PE Web, Georgia, 'Times New Roman', Times, serif;
}

a {
  color: var(--color-secondary);
  /* font-family: PragmataPro, Roboto, Helvetica, fallback-font; */
  font-family: Skolar PE Web, Georgia, 'Times New Roman', Times, serif;
}

.divTable {
  width: auto;
  border-spacing: 5px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.divRow {
  width: auto;
  text-align: center;
}

.divCell {
  font-size: 16px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  text-align: center;
  vertical-align: center;
}

.text-form {
  width: 80%;
  height: 350px;
  display: inline-block;
  font-size: 16px;
  background-color: var(--color-primary-darker);
  color: var(--color-secondary);
  resize: none;
  padding-top: 30px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 30px;
  border: 0 solid #00000000;
  border-radius: 50px;
  font-family: Skolar PE Web, Georgia, 'Times New Roman', Times, serif;
  font-weight: 300;
  font-style: normal;
  font-kerning: normal;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1;
  /* text formatting options (from textarea) */
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  column-count: initial !important;
}

.text {
  width: 60%;
  height: auto;
  display: inline-block;
  font-size: 14px;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  resize: none;
  padding-top: 30px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 30px;
  border: 0 solid #00000000;
  border-radius: 50px;
  /* font-family: PragmataPro, Helvetica, fallback-font; */
  font-family: Skolar PE Web, Georgia, 'Times New Roman', Times, serif;
  /* text formatting options (from textarea) */
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  column-count: initial !important;
}

.hidden {
  display: none;
}

.transparent {
  color: var(--color-primary);
  ;
}