@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #252f33;
        --color-primary-darker: #0d1a1f;
        --color-secondary: #dbdbdb;
        --color-purple: #583bb6;
        --color-purple-darker: #311c75;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --color-primary: #ffffff;
        --color-primary-darker: #d7dee0;
        --color-secondary: #000000;
        --color-purple: #583bb6;
        --color-purple-darker: #311c75;
    }
}

.light-mode {
    --color-primary: #ffffff;
    --color-primary-darker: #d7dee0;
    --color-secondary: #000000;
}

.dark-mode {
    --color-primary: #252f33;
    --color-primary-darker: #0d1a1f;
    --color-secondary: #dbdbdb;
}